


<app-top-cards></app-top-cards>


<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="flex-xl-grow-0">
  <div class="col-lg-12">
    <app-sales-summary></app-sales-summary>
  </div>
  <!-- <div class="col-lg-5">
    <app-feeds></app-feeds>
  </div> -->
</div>

<!-- cards -->
<!-- ============================================================== -->
<app-blog-cards></app-blog-cards>
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->


